/* 正文字体 */
@font-face{
  font-family: "MySans";
  src: url("/assets/fonts/AktivGrotesk-Regular.woff2") format("woff2");
  font-weight: 400; font-style: normal; font-display: swap;
}
@font-face{ 
  font-family: "MySans";
  src: url("/assets/fonts/AktivGrotesk-Bold.woff2") format("woff2");
  font-weight: 700; font-style: normal; font-display: swap;
}



/* 用 CSS 变量告诉主题用哪套字体（不要直接写 body{font-family}） */
:root{
  --md-text-font: "MySans";
}
